/* variables ------------------ */

:root {
    --red: #ff6347;
    --light-red: rgba(255, 99, 71, 0.5);
    --dark-red: crimson;
    --white: #fff;
    --light-grey: #cbdce1;
    --dark-grey: #557077;
    --primary: var(--red);
    --secondary: var(--white);
    --danger: var(--dark-red);
    --breakpoint-xl: 1440px;
    --spacing: 15px;
}

/* overwrite browser style -------------------- */
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

::selection {
    background-color: var(--primary);
    color: var(--white);
}

html {
    scroll-behavior: smooth;
}
body {
    color: var(--dark-grey);
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
label {
    cursor: pointer;
}

/* custom style ---------------------- */
.container {
    margin: auto;
    padding: 0 2em;
    max-width: var(--breakpoint-xl);
}

.btn {
    background-color: var(--white);
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid;
}
.btn:disabled {
    pointer-events: none;
    filter: grayscale(0.2);
}
.btn--block {
    width: 100%;
}
.btn:hover {
    font-weight: bold;
}
.btn--primary {
    background: var(--primary);
    color: var(--white);
    border: 1px solid var(--primary);
}
.btn--primary:hover {
    color: var(--primary);
    background-color: var(--white);
}

.form_control {
    display: flex;
    flex-direction: column;
}
.form_label {
    position: relative;
    width: fit-content;
    margin-bottom: 0.5em;
}
.form_label.required::after {
    content: attr(data-required-symbol);
    position: absolute;
    top: 0;
    right: 5;
    color: var(--danger);
    font-weight: bold;
}
.form_input {
    background-color: transparent;
    border: 1px solid var(--dark-grey);
    border-radius: 0px;
    color: var(--dark-grey);
    width: 100%;
    padding: 10px;
    outline: none;
}
.form_input:focus {
    border-color: var(--primary);
}

.alert {
    background-color: var(--primary);
    padding: 10px;
    color: var(--white);
    font-size: 0.9em;
}
.alert[data-type="error"] {
    background-color: var(--danger);
}
.alert_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: bold;
}
.alert_header button[type="button"] {
    color: inherit;
    background-color: inherit;
    font-weight: inherit;
    border: none;
    margin-left: 10px;
    width: 20px;
    height: 20px;
}
.alert_header button[type="button"]:hover {
    border: 1px solid;
}
.alert_body p {
    text-align: center;
}

.accordion .accordion_header button {
    display: flex;
    justify-content: space-between;
}
.accordion .accordion_header .anchor {
    transform: rotateX(0deg);
    transition: 0.5s ease;
}
.accordion[data-active="false"] .accordion_header .anchor {
    transform: rotateX(180deg);
}
.accordion .accordion_body {
    padding: 20px 10px;
    max-height: 100vh;
    transform: scaleY(1);
    transition: 0.5s ease;
}
.accordion[data-active="false"] > .accordion_body {
    padding: 0px;
    max-height: 0px;
    transform: scaleY(0);
}

hr.divider {
    border-color: rgba(51, 51, 51, 0.1);
}
